In [1]:
x="hello"

In [2]:
x

'hello'

In [3]:
x=3

In [4]:
x

3

In [5]:
x="hello world"

In [6]:
x

'hello world'

In [7]:
type(x)

str

In [8]:
len(x)

11

In [9]:
print("hello python")

hello python

In [10]:
print("hello
      python")

SyntaxError: EOL while scanning string literal (<ipython-input-10-b66eedb0f8fb>, line 1)

In [11]:
print("hello \nwold")

hello
wold

In [12]:
print("hello \tworld")

hello 	world

In [13]:
my_string = "hello world"

In [14]:
my_string[0]

'h'

In [15]:
my_string[-1]

'd'

In [16]:
my_string_2 = "1234567890"

In [17]:
my_string_2[0]

'1'

In [18]:
my_string_2[2:]

'34567890'

In [19]:
my_string_2[:2]

'12'

In [20]:
my_string_2[2:4]

'34'

In [21]:
my_string_2[::]

'1234567890'

In [22]:
my_string_2[::3]

'1470'

In [23]:
my_string_2[2:4:2]

'3'

In [24]:
my_string_2[::-1]

'0987654321'

In [25]:
my_name = "Emrah"

In [26]:
my_name.

SyntaxError: invalid syntax (<ipython-input-26-95aa217aca71>, line 1)

In [27]:
my_name = "emrah"

In [28]:
my_name.capitalize()

'Emrah'

In [29]:
my_name = "Emrah Yıldırım"

In [30]:
my_name.split()

['Emrah', 'Yıldırım']

In [31]:
my_name_split = my_name.split()

In [32]:
my_name_split[1]

'Yıldırım'

In [33]:
my_name.upper()

'EMRAH YILDIRIM'

In [34]:
"harry" * 10 * 10.5

TypeError: can't multiply sequence by non-int of type 'float'

In [35]:
"harry" + 5

TypeError: can only concatenate str (not "int") to str

In [36]:
"harry" * 5

'harryharryharryharryharry'

In [37]:
"harry" + "5"

'harry5'

In [38]:
"harry" + "luna"

'harryluna'